@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap&subset=korean');
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.top {
    width: 100%;
    height: 45px;
    border: 1px solid #000;
    margin: 0px;
    background-color: #000000;
}

.head {
    border-bottom: 3px solid #CCCCCC;
    background-color: #CCCCCC;
}

.logout {
    margin-top: 6px;
}

body {
    margin: 0;
    padding: 0;
}

#flex {
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
}


/*
#buttons {
    display: flex;
    flex-direction: row;
    margin-right: 5px;
    font-family: "Roboto", sans-serif;
    background: #FF00FF;
    width: 20vw;
    border: 0;
    padding: 0px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 20px;
}
*/

#jb-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70vw;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #bcbcbc;
}

#jb-header {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #bcbcbc;
}

#jb-sidebar-right {
    width: auto;
    padding: 20px;
    margin-bottom: 20px;
    float: right;
    border: 1px solid #bcbcbc;
}


/*button {
    height: 40px;
    width: 100px;
    background-color: cyan;
}*/

.form {
    position: relative;
    /*
	 *우선순위
	 z-index: 1;
	*/
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display: none;
}

input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.t1 {
    display: flex;
    flex-direction: column;
}

.t2 {
    display: flex;
    flex-direction: column;
}

#buttons {
    display: flex;
    flex-direction: row;
}

A:link {
    text-decoration: none;
    color: #646464;
}

A:visited {
    text-decoration: none;
    color: #646464;
}

A:active {
    text-decoration: none;
    color: #646464;
}

A:hover {
    text-decoration: none;
    color: #646464;
}

#header {
    background: #111111;
    color: rgba(255, 255, 255, 0.5);
    cursor: default;
    height: 3.25rem;
    left: 0;
    line-height: 3.25rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
}

#header>.logo {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    height: inherit;
    line-height: inherit;
    padding: 0 1.25rem;
    text-decoration: none;
}

#header>nav>a {
    color: inherit;
    display: inline-block;
    padding: 0 0.75rem;
    text-decoration: none;
}

#header>nav>a:hover {
    color: #ffffff;
}

#header>nav>a[href="#menu"]:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

#header>nav>a[href="#menu"]:before {
    content: '\f0c9';
    margin: 0 0.5rem 0 0;
}

#header>nav>a+a[href="#menu"]:last-child {
    border-left: solid 1px rgba(255, 255, 255, 0.25);
    margin-left: 0.5rem;
    padding-left: 1.25rem;
}

#header>nav>a:last-child {
    padding-right: 1.25rem;
}

@media screen and (max-width: 736px) {
    #header>nav>a {
        padding: 0 0.5rem;
    }
    #header>nav>a+a[href="#menu"]:last-child {
        margin-left: 0.25rem;
        padding-left: 1rem;
    }
    #header>nav>a:last-child {
        padding-right: 1rem;
    }
}

@media screen and (max-width: 980px) {
    body {
        padding-top: 44px;
    }
    #header {
        height: 44px;
        line-height: 44px;
    }
}

@media screen and (max-width: 480px) {
    #header {
        min-width: 320px;
    }
}


/* Heading */

#heading {
    background-color: #111111;
    color: rgba(255, 255, 255, 0.5);
    align-items: center;
    background-image: linear-gradient(rgba(17, 17, 17, 0.25), rgba(17, 17, 17, 0.25)), url("../../images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 0;
    display: -ms-flexbox;
    height: 15rem !important;
    min-height: 15rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}