<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            margin: 0;
        }
        
        #header {
            background: #111111;
            margin: 0;
            color: rgba(255, 255, 255, 0.5);
            cursor: default;
            height: 3.25rem;
            left: 0;
            line-height: 3.25rem;
            /*position: fixed;*/
            top: 0;
            width: 100%;
            margin-bottom: 2vh;
        }
        
        .logo {
            color: #ffffff;
            font-size: 1rem;
            font-weight: 600;
            height: inherit;
            line-height: inherit;
            padding: 0 1.25rem;
            text-decoration: none;
        }
        
        #jb-container {
            margin-top: 2vh;
            width: 940px;
            height: 60vh;
            margin: 0px auto;
            padding: 20px;
            border: 1px solid rgb(32, 30, 30);
        }
        
        #jb-content {
            width: 580px;
            height: 45vh;
            padding: 20px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid rgb(32, 30, 30);
        }
        
        #board_name {
            width: 580px;
            height: 4vh;
            border: 1px solid rgb(32, 30, 30);
            margin-bottom: 5vh;
        }
        
        #board {
            width: 580px;
            height: 30vh;
            border: 1px solid rgb(32, 30, 30);
            margin-bottom: 3vh;
        }
        
        #button {
            display: flex;
            flex-direction: column;
            width: 580px;
            height: 10vh;
            text-align: center;
        }
    </style>
    <script>
    </script>
</head>

<body>
    <header id="header">
        <a class="logo" href="/admin">admin page</a>
        <a class="logo" href="/logout">Logout</a>
        <a class="logo" href="/munhak">munhak</a>
    </header>
    <br>

    <div id='jb-container'>
        <div id="jb-content">
            <form action="/modifyboard" method=post>
                <input id="board_name" type="text" name="board_name" />
                <input id="board" type="text" name="board" />
                <button>create</button>
            </form>
        </div>
    </div>

</body>

</html>