<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="../public/js/client.js">
    <link rel="stylesheet" type="text/css" href="/css/munhak.css">
    <style>
        input[type=button] {
            height: 40px;
            width: 100px;
        }
    </style>
    <script>
        var flag;
        var sit_data;
        var socket = io();
        socket.on('sit_data', function(data) {
            let tmp = "<table border='1' bordercolor='black' width ='300' height='300' align = 'center'><th>자리 번호</th> <th>자리 상태</th> <th>사용자 id</th>";
            for (i = 0; i < data.length; i++) {
                tmp += `<tr> <td>${i}</td> <td>${data[i].sit_status} </td> <td> ${data[i].sit_user}</td> </tr>`;
            }
            tmp += "</table>"
            tmp = tmp.toString();
            console.log(typeof(tmp));
            document.getElementById("table").innerHTML = tmp.replace('undefined', '');
        });
        //socket.emit('send_status', send_data());
        function send_data(button_id) {
            socket.emit('send_status', button_id);
        }
    </script>
    <title>면학 자리 관리 시스템</title>

</head>

<body>
    <div id="table">

    </div>
    <br>
    <h3>자리 예약하기</h3>
    <div id="buttons">
        <input type="button" id="1" onclick="send_data(this.id)" placeholder="1번자리">
        <input type="button" id="2" onclick="send_data(this.id)" placeholder="2번자리">
        <input type="button" id="3" onclick="send_data(this.id)" placeholder="3번자리">
        <input type="button" id="4" onclick="send_data(this.id)" placeholder="4번자리">
    </div>
    <button id="퇴실" onclick="send_data(this.id)" placeholder="퇴실">reset</button>
</body>

</html>