<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var flag;
        var sit_data;
        var socket = io();
        socket.on('sit_data', function(data) {
            var i;
            for (i = 0; i < data.length; i++) {
                sit_data += data[i].id + ' ' + data[i].sit_status + ' ' + data[i].sit_user + '\n';
            }
            document.getElementById("table").innerText = sit_data.replace('undefined', '').replace('/null/gi', '');
        });

        //socket.emit('send_status', send_data());
        function send_data(button_id) {
            socket.emit('send_status', button_id);
        }
    </script>
    <title>면학 자리 관리 시스템</title>

</head>

<body>
    <div id="table">
        <!--<table border="1" width="200" height="200">
            <tr>
                <th>면학실 자리</th>
                <th>상태</th>
            </tr>
            <tr>
                <td>1</td>
                <td id="sit1"></td>
            </tr>
            <tr>
                <td>2</td>
                <td id="sit2"></td>
            </tr>
            <tr>
                <td>3</td>
                <td id="sit3"></td>
            </tr>
            <tr>
                <td>4</td>
                <td id="sit4"></td>
            </tr>
        </table>-->
    </div>
    <br>
    <h3>자리 예약하기</h3>
    <div id="buttons">
        <input type="button" name="1번" id="1" onclick="send_data(this.id)">
        <input type="button" name="2번" id="2" onclick="send_data(this.id)">
        <input type="button" name="3번" id="3" onclick="send_data(this.id)">
        <input type="button" name="4번" id="4" onclick="send_data(this.id)">
    </div>
</body>

</html>