<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="../public/js/client.js">
    <link rel="stylesheet" type="text/css" href="/css/munhak.css">

    <script>
        var flag;
        var sit_data;
        var socket = io();
        socket.on('sit_data', function(data) {
            let tmp = "<table border='1' id='table' bordercolor='black' width ='300' height='300'><th>자리 번호</th> <th>자리 상태</th> <th>사용자 id</th>";
            for (i = 0; i < data.length; i++) {
                tmp += `<tr> <td>${i}</td> <td>${data[i].sit_status} </td> <td> ${data[i].sit_user}</td> </tr>`;
            }
            tmp += "</table>"
            tmp = tmp.toString();
            console.log(typeof(tmp));
            document.getElementById("table").innerHTML = tmp.replace('undefined', '');
        });

        //socket.emit('send_status', send_data());
        /*function send_data(button_id) {
            alert(button_id + "번이 선택되었습니다");

            socket.emit('send_status', button_id);
        }
        function reset() {

        }*/

        function toggle(id) {
            x = document.getElementsByClassName("t1");
            y = document.getElementsByClassName("t2");
            if ('b1' === id) {
                x.style.display = "block"
                y.style.display = "none"
            } else if ('b2' === id) {
                y.style.display = "block"
                x.style.display = "none"
            }
        }

        function enter(id) {
            socket.emit('enter', id);
        }

        function exit(id) {
            socket.emit('exit', id);
        }
    </script>
    <style>

    </style>

    <title>면학 자리 관리 시스템</title>
</head>

<body>
    <div id="jb-header">
        <h1>면학 예약 현황</h1>
    </div>

    <div id="jb-container">

        <div id="table">

        </div>
        <br>
        <div id="jb-sidebar-right">
            <h4>입실</h4>
            <div id="buttons" class="t1">
                <button id="1" onclick="enter(this.id)">1번자리</button>
                <button id="2" onclick="enter(this.id)">2번자리</button>
                <button id="3" onclick="enter(this.id)">3번자리</button>
                <button id="4" onclick="enter(this.id)">4번자리</button>
            </div>
            <br>
            <h4>퇴실</h4>
            <div id="buttons" class="t2">
                <button id="1" onclick="exit(this.id)">1번자리</button>
                <button id="2" onclick="exit(this.id)">2번자리</button>
                <button id="3" onclick="exit(this.id)">3번자리</button>
                <button id="4" onclick="exit(this.id)">4번자리</button>
            </div>
        </div>

    </div>
</body>

</html>